/*

Justerer utseende til programmet

*/

.general {
    margin: 0;
    font-family: monospace;
}

.header {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    background-color: orange;
    color: white;
    font-weight: bold;
    height: 20vh;
}

.h1 {
    margin: 0;
    padding: 3vh;
    font-size: 12vh;
    text-align: center;
}

.mainBox {
    margin: 2vh;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.transformbox1 {
    text-align: center;
    flex-direction: column;
    flex-grow: 3;
}

.transformbox2 {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.input {
    border-radius: 5px;
    border-color: green;
    margin: 0.25vh;
}

.transformButton {
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    height: 4vh;
    margin: 0.25vh;
}

.transformButtonChosen {
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    height: 4vh;
    margin: 0.25vh;
}

.transformButton:hover {
    background-color: orange;
}

.transformButtonChosen:hover {
    background-color: orange;
}

#resultat{
    width: 25vw;
    height: 20vh;
    border-radius: 5px;
    border-color: green;
    align-items: center;
}